[Desktop Entry]
Version=1.0
Type=Application
Name=Install Linux95
Comment=Install Linux95 onto this computer
Exec=/usr/bin/linux95-installer
Icon=linux95-installer
Terminal=false
Categories=System;
